
.profil{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.profil:hover{
  color: #DEA576;
  transition: 0.5s;
}

.profil h3{
  margin-bottom: 0.1rem;
}

.outerProfilImg{
  position: relative;
  width: 200px;
  height: 250px;
}

.profilCircle{
  position: absolute;
  background-color: var(--main-green-light);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  bottom: 0;

}

.profilImg{
  position: absolute;
  width: 200px;
  height: 250px;
  bottom: 0;
}
.profilImg img{
  object-fit: contain;
  object-position: bottom;
}


.profilOverlay{
  position: fixed;
  background-color: #000000b0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.profilCard{
  position: relative;
  display: flex;
  gap: 50px;
  height: 500px;
  width: 900px;
  background-color: var(--secondary-white-green);
  border-radius: 15px;
  padding: 10px 25px ;
}

.profilCardText p{
  max-width: 550px;
  margin-bottom: 25px;
}

.profilCard button{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  border-color: var(--main-green-light);
  cursor: pointer;
}