* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  /* font-family: var(--font-open-san); */
}

#root {
  overflow: auto;
}

h1{
  /* font-family: var(--font-aboreto); */
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll>div {
  scroll-snap-align: start;
  display: flex;
}

.scroll>div:nth-of-type(even) {
  justify-content: flex-end;
}

.scroll>div:first-child {
  justify-content: center;
}

body {

  background: linear-gradient(0.3turn, #5C917C, #142E2C);
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  /* font-family: "Inter var", sans-serif; */
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}

.caption {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  margin: 80px;
  color: white;
  font-size: 8em;
  font-weight: 100;
  line-height: 1em;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: auto;
}

.pageProgress {
  position: fixed;
  left: 20px;
  top: calc(50vh - 7.5rem);
  width: 15rem;
  height: 0.2rem;
  background-color: #00000060;
  transform: rotate(90deg);
  transform-origin: left;
  border-radius: 9px;

}

progress::-webkit-progress-bar {
  background-color: transparent;
	border-radius: 9px;

}


progress::-webkit-progress-value {
  border-radius: 9px;
  background: #ffffffa0
}

progress::-moz-progress-bar {
  border-radius: 9px;
  background: #ffffffa0
}

.text {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: flex;
  max-width: 600px;
  padding: 80px;
  padding-top: 150px;
  line-height: 1.6em;
  font-size: 20px;
  letter-spacing: 1.5px;

  /* text-align: center; */
}

.text:first-of-type {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text h1 {
  -webkit-font-smoothing: auto;
  pointer-events: none;
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.text>div {
  background-color: #00000060;
  padding: 10px;
  border-radius: 10px;
}

.downIcon {
  position: relative;
  display: flex;
  border-radius: 20px;
  width: 30px;
  height: 50px;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.footer {
  background-color: #142E2C;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.footerDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footerRight{
  display: flex;
}

/* .landingText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 100vw;
}
.landingText p {
  text-align: center;
  max-width: 600px;
  font-size: 1.2rem;
} */