
.news {
  background-color: var(--secondary-white-green);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-green-dark);
}

.news>section {
  padding: 50px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing {
  position: relative;
  height: 50vh;
  background-image: url(../public/news/news_bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  justify-content: center;
  color: var(--secondary-white-green);
  z-index: 100;
}

.landing>h1 {
  font-size: 2.8rem;
  max-width: 600px;
  align-self: center;
}