
.news {
  background-color: var(--secondary-white-green);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-green-dark);
}

.news>section {
  padding: 50px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.landing {
  position: relative;
  height: 50vh;
  background-image: url(../public/news/news_bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
  justify-content: center;
  color: var(--secondary-white-green);
  z-index: 100;
}

.landing>h1 {
  font-size: 2.8rem;
  max-width: 600px;
  align-self: center;
}

.newsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.articleContainer{
  width: 400px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}

.articleHead{
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Times New Roman';
  font-weight: bold;
  margin-bottom: 10px;
}

.articleImg{
  position: relative;
  width: 100%;
  height: 100px;

}

.articleFoot{
  color: gray;
}

@media (max-width: 450px) {
  .articleContainer{
    width: 300px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
  }
}
