.science {
  /* padding: 50px 0; */
  /* background-color: red; */
  /* background: linear-gradient(0.3turn, #5C917C, #142E2C); */
  background-color: #142E2C;
  /* background-image: url(../public/science_bg.jpg);
  background-repeat: no-repeat;
  background-position: top; */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.science>div {
  max-width: 1000px;
}

.science>section {
  padding: 50px 100px;
  width: 100%;
}

.science>section>h2 {
  font-size: 2.5rem;
}

.science p {
  line-height: 1.5;
}

.landingSec {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(../public/science/sci_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.landingSec>h1 {
  font-size: 2.8rem;
  max-width: 600px;
}

.formOne {
  position: absolute;
  left: -5px;
  bottom: -5px;
  /* height: 300px; */
}

.formTwo {
  position: absolute;
  right: -400px;
  bottom: -5px;
  /* height: 500px; */
}

.benefits>div{
  display: flex;
  position: relative;
  margin-top: 100px;
}

.benefits>div:nth-of-type(even){
  flex-direction: row-reverse;
}

.benefitText{
  max-width: 450px;
  z-index: 10;
}

.benefitText>h3{
position: relative;
font-size: 2.2rem;
}

.benefitText>h3>span{
  position: absolute;
  top: -35px;
}

.benefitSvg{
  /* position: relative; */
  width: 100px;
  height: 100px;
}

.benefitSvg>div{
  position: absolute;
  right: -250px;
  bottom: 100px;

}

.benefitsList {
  list-style-type: decimal;
}

.benefitsList li {
  margin: 5rem 0;
}

.scientist {
  position: relative;
  width: 800px;
  height: 500px;
}

.scientist img {
  object-fit: contain;
}

.imgCap {
  font-size: 0.7rem;
  margin-top: 0;
}